<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <div id="toolbar">
    <h2><%= yield(:title) %></h2>
    <%= #form_tag(search_path, class: 'search_section') do %>
      <%= #text_field_tag 'query', nil, placeholder: 'Cari warung...', class: 'search_input' %>
      <%= #submit_tag 'Search', class: 'search_submit' %>
    <% #end %>
  </div>

  <%= yield %>
</body>
</html>
